nav 
    ul 
        li 
            a.btn.btn-primary(href='/') Home
        li 
            a.btn.btn-primary(href='/admin/new') Create a Post
        li 
            a.btn.btn-primary(href='/posts') All Posts